<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Category List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
  <div class="container mt-5">
    <h1 class="mb-4">Categories</h1>

    <div class="card p-3 shadow-sm">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
          </tr>
        </thead>
        
        <tbody>
          <tr th:each = "category : ${categories}">
            <td th:text="${category.categoryid}"></td>
            <td th:text="${category.name}"></td>
          </tr>
        </tbody>
      </table>
    </div>   	

    <a th:href="@{/addcategory}" class="btn btn-success mt-3">Add category</a>

  </div>
</body>
</html>